In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'c:\Users\User\Downloads\Telegram Desktop\total_reports.xlsx', sheet_name='Сообщения 2022')
# df = df['Текст']
df = df[df['Текст'].str.len() > 10]
df = df.rename(columns= {'Текст': 'text'})
df['tag'] = 1
df = df[['text', 'tag']]
df = df.head(2000)

In [3]:
list_of_csv = [
    r'c:\Users\User\Documents\NIR3\files\Данные_для_классификатора_2.csv',
    r'c:\Users\User\Documents\NIR3\files\Данные_для_классификатора_3.csv'
]

df2 = pd.DataFrame()
for name_file in list_of_csv:
    df_un = pd.read_csv(name_file, sep=';')
    df2 = pd.concat([df2, df_un], ignore_index=True)  # Добавляем данные в общий DataFrame

In [4]:
df_un = pd.read_csv(r'c:\Users\User\Documents\NIR3\files\Данные_для_классификатора_1.сsv')
df2 = pd.concat([df2, df_un], ignore_index=True)
df = pd.concat([df2, df], ignore_index=True)

In [5]:
df = df.rename(columns={'tag':'label'})

In [6]:
df

                                                   text  label
0     15.12.2022 завершился очередной мастер класс п...      0
1     Приём заместителя прокурора Санкт-Петербурга16...      0
2     13.12.2022 завершился очередной мастер класс п...      0
3     12.12.2022 г. в помещении МО Балканский прошел...      0
4     08.12.2022 в помещении МО Балканский прошел ма...      0
...                                                 ...    ...
2929  Здравствуйте!<br>Можно пожалуйста узнать, а до...      1
2930  Показуха очередная, во дворах грязь, мусор пар...      1
2931  13 февраля была дырка в подъезде, 14-15 ее поч...      1
2932  Здравствуйте Александр Дмитриевич , есть ли дл...      1
2933  [club198636878|Фонд Капитального Ремонта (Санк...      1

[2934 rows x 2 columns]

In [7]:
import re
def clean_text(text):

    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)  
    text = re.sub(r'\d+', '', text) 
    return text


df['text'] = df['text'].apply(clean_text)

In [8]:
df.to_csv('spb_sm_pablic.csv')